<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/mystyle.css">

</head>
<body>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="{{isActive 'index' @exphbs.view}}">
            <a href="/menu/index">Home</a>
        </li>
        {{{liIsActive 'customers' @exphbs.view}}}
            <a href="/menu/customers">Customers</a>
        </li>
        <li class="{{isActive 'register' @exphbs.view}}">
            <a href="/menu/register">Register</a>
        </li>
        <li class="{{isActive 'about' @exphbs.view}}">
            <a href="/menu/about">About</a>
        </li>
        <li>
            <a href="#">
                Current view: {{ @exphbs.view }}
            </a>
        </li>
    </ul>

    {{{ body }}}
</div>

</body>
</html>